<template>
    <Row>
        <Column md-12 sm-12>
            <Row>
                <Column md-2 sm-12>
                    <FileUploadInput 
                        ref='fileInput' 
                        :docType='filedocTypeByIndex(index)'
                        :added='Boolean(fileImageByIndex(index))' 
                        @input="ADD_FILE({index, value:$event})"
                    />
                </Column>
                <Column md-6 sm-12>
                    <h2 v-if='fileImageByIndex(index)'>Предпросмотр</h2>
                    <img class="img-fluid" :src="fileImageByIndex(index)">
                </Column>
                <Column md-4 sm-12>
                    <h2>Тип документа</h2>
                    <Multiselect 
                        :value='filedocTypeByIndex(index)' 
                        :options='docTypes' 
                        @input="CHANGE_FILE_DOC_TYPE({index, value:$event})"
                    />
      
                </Column>
                <div class="cross" @click="remove">
                    ✖
                </div>
            </Row>
        </Column>
    </Row>
</template>

<script>
import Multiselect     from '../inputs/multiselect';
import FileUploadInput from '../inputs/file_upload_input';
import { mapGetters, mapMutations }  from 'vuex';
import swal from 'sweetalert2';
export default {
    components: {
        FileUploadInput,  Multiselect
    },
    props: {
        index: {
            type    : Number,
            required: true
        }
    },
    computed: {
        ...mapGetters('tempFiles',['docTypes','filedocTypeByIndex','fileImageByIndex']),
    },
    methods: {
        ...mapMutations('tempFiles', ['CHANGE_FILE_DOC_TYPE','ADD_FILE','REMOVE_FILE']),
        remove(){
            if(!this.fileImageByIndex(this.index)){
                this.REMOVE_FILE(this.index);
                return;
            }
            swal({
                title             : 'Вы уверены что хотите удалить этот файл?',
                text              : "Это действие необратимо",
                type              : 'warning',
                showCancelButton  : true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor : '#d33',
                confirmButtonText : 'Да',
                cancelButtonText  : 'Нет',
            }).then((result) => {
                if (result.value) {
                    swal({
                        title: 'Файл был удален!',
                        type : 'success'
                    });
                    this.REMOVE_FILE(this.index);
                }
            });
          
        }
    }
};
</script>

<style>

</style>
