<template>
    <Row class="file-form">
        <Column md-12 sm-12>
            <Row>
                <Column md-6 sm-12>
                    <h2>
                        <span class="badge badge-pill badge-primary">{{ filedocTypeByIndex(index) }}</span>
                        <span class="badge badge-pill" :class="filesdocStatusByIndex(index).type">
                            {{ filesdocStatusByIndex(index).text }}</span>
                        
                    </h2>
                    <img class="img-fluid" :src="fileImageByIndex(index)">
                </Column>
                <Column md-4 sm-12>
                    <h2>Тип документа</h2>
                    <Multiselect 
                        :value='filedocTypeByIndex(index)' 
                        :options='docTypes' 
                        @input="CHANGE_FILE_DOC_TYPE({index, value:$event})"
                    />
                    <h2>Тип документа</h2>

                    <fieldset>
                        <div class="form-group">
                            
                            <div v-for='(radio, i) in docStatuses' :key='i' class="custom-control custom-radio">
                                <input :id="'customRadio' + i +index" 
                                       :name="'customRadio' + i + index" type="radio" 
                                       class="custom-control-input" 
                                       :checked="filesdocStatusByIndex(index).text === radio.text" 
                                       @change="CHANGE_FILE_STATUS({index:index, value:radio})"
                                >
                                <label class="custom-control-label" :for="'customRadio'+ i + index">{{ radio.text }}</label>
                            </div>
                        </div>
                    </fieldset>
                </Column>
                <div class="cross" @click="remove">
                    ✖
                </div>
            </Row>
        </Column>
    </Row>
</template>

<script>
import Multiselect     from '../inputs/multiselect';
import { mapGetters, mapMutations }  from 'vuex';
import swal from 'sweetalert2';
export default {
    components: {
        Multiselect
    },
    props: {
        index: {
            type    : Number,
            required: true
        }
    },
    computed: {
        ...mapGetters('uploadedFiles',
            [
                'files', 
                'fileImageByIndex', 
                'filedocTypeByIndex', 
                'docTypes', 
                'docStatuses',
                'filesdocStatusByIndex', 

                'fileStatusBadgeByIndex'
            ]),
    },
    methods: {

        ...mapMutations('uploadedFiles', ['CHANGE_FILE_DOC_TYPE','ADD_FILE','REMOVE_FILE','CHANGE_FILE_STATUS']),
        remove(){
            if(!this.fileImageByIndex(this.index)){
                this.REMOVE_FILE(this.index);
                return;
            }
            swal({
                title             : 'Вы уверены что хотите удалить этот файл?',
                text              : "Это действие необратимо",
                type              : 'warning',
                showCancelButton  : true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor : '#d33',
                confirmButtonText : 'Да',
                cancelButtonText  : 'Нет',
            }).then((result) => {
                if (result.value) {
                    swal({
                        title: 'Файл был удален!',
                        type : 'success'
                    });
                    this.REMOVE_FILE(this.index);
                }
            });
          
        }
    }
};
</script>

<style>

</style>
