<template>
    <Column md-12>
        <div class="list-group">
            <router-link v-for="({name, text}, index) in menuItems" :key="index" active-class='active' 
                         class="list-group-item list-group-item-action text-center" 
                         :to="name"
            >{{ text }}</router-link>
        </div>
    </Column>
</template>

<script>
import {mapGetters} from 'vuex';
export default {
    computed: {
        ...mapGetters('menu', ['menuItems'])
    }
};
</script>
