<template>
    <div :class="classes"><slot></slot> </div>
</template>

<script>
export default {
    computed: {
        classes: function(){
            return Object.keys(this.$attrs)
                .map(attr=> 'col-' + attr)
                .filter(attr => attr !== 'class')
                .join(' ');
        }
    },

};
</script>

<style>

</style>
