[hidden], .hidden {
    visibility: hidden;
  }
  .file-form{
    background: #ececec;
    padding: 20px;
    border-radius: 10px;
    margin: 10px 0;
  }

  .cross{
    position: absolute;
    right: -10px;
    top: -15px;
    color: #e84444;
    background: white;
    width: 26px;
    height: 26px;
    text-align: center;
    font-size: 16px;
    border-radius: 50%;
    border: 1px solid;
    z-index: 2;
    &:hover{
        cursor: pointer;
    }
  }
