<template>
    <label class="btn btn-primary" :class="{'btn-primary':!added, 'btn-warning':added}">
        {{ finalText }}
        <input ref="file_upload" 
               :accept="acceptedMimeTypes" 
               type="file" 
               hidden 
               @change="handleFile($event)"
        >
    </label>
</template>

<script>
import {hash} from '@/helpers/hash';
export default {
    props: {
        acceptedMimeTypes: {
            type   : Array,
            default: ()=> [
                "image/jpeg",
                "image/png",
                "image/tiff",
                "image/bmp",
                "image/tiff"
            ]
        },
        maxSize: {
            type   : Number,
            default: 0
        },
        uploadText: {
            type   : String,
            default: 'Выбрать файл'
        },
        changeText: {
            type   : String,
            default: 'Изменить файл'
        },
        docType: {
            type    : String,
            required: true
        },
        added: {
            type   : Boolean,
            default: false
        }
    },

    computed: {
        finalText: function(){
            return this.added && this.changeText || this.uploadText;
        }
    },
    methods: {
        handleFile($event){
            const file = $event.target.files[0];
            if(this.maxSize && file.size > this.maxSize){
                this.$emit('error', `Размер файла слишком большой, максимальный размер файла  ${this.maxSize / 1024 | 0} kb`);
                return;
            }
            file.docType = this.docType;
            this.toBase64(file);
        },
        toBase64(file){
            const reader = new FileReader();
            reader.readAsDataURL(file);
            reader.onload = () => {
                file.base64 = reader.result;
                file.hash = hash(reader.result);
                this.$emit('input', file);
            };
        }
    },
};
</script>

<style>

</style>
