<template>
    <Multiselect
        v-model ="selectModel"
        :preselectFirst ="true"
        :allowEmpty ="false" 
        :options ="options" 
        v-bind ="$attrs" 
        selectLabel=""
        selectedLabel="Выбрано"
        deselectLabel=""
        placeholder="Выберите тип документа"
        v-on ="$listeners"
    />
</template>

<script>
import Multiselect from 'vue-multiselect';

export default {
    components: { Multiselect },
    props     : {
        options: {
            type    : Array,
            required: true,
        },
        value: {
            type    : String,
            required: true
        }
    },
    computed: {
        selectModel: {
            get: function(){
                return this.value;
            },
            set: function($event){
                this.$emit('input', $event);
            },
            
        }
    }
};
</script>
<style src="vue-multiselect/dist/vue-multiselect.min.css"></style>
