<template>
    <div class="progress">
        <div class="progress-bar progress-bar-striped progress-bar-animated bg-success" role="progressbar"
             aria-valuemin="0" aria-valuemax="100" :style="{width: value + '%'}"
        ></div>
    </div>
</template>

<script>
export default {
    props: {
        value: {
            type: Number
        }
    },
    computed: {
        progress: function(){
            if(this.value >= 100){
                return 100;
            } else {
                return this.value;
            }
        }
    }
};
</script>

<style>

</style>
