<template>
    <Column md-12>
        <FileEditForm v-for="(file, index) in files" :key="index" :index='index' />
    </Column>
</template>

<script>
import { mapGetters } from 'vuex';
import FileEditForm from '@/components/ui/forms/file_edit';
export default {
    components: {
        FileEditForm
    },
    computed: {
        ...mapGetters('uploadedFiles', ['files'])
    }
};
</script>

<style>

</style>
