<template>
    <Column md-12>
        <FileUploadForm v-for="(file, index) in files" 
                        :key="index" 
                        :index="index"
                        class="file-form" 
        />    
        <Row v-if='!uploading'>
            <Column :class="{'col-md-6':anyFileAdded, 'col-md-12':!anyFileAdded}">
                <BtnPrimary class="btn-block" @click="CREATE_FILE">Добавить файл</BtnPrimary>
            </Column>
            <Column v-if='anyFileAdded' md-6>
                <BtnSuccess class="btn-block" @click="upload">Загрузить файлы</BtnSuccess>
            </Column>
        </Row>
        <Row v-else>
            <Column md-12>
                <ProgressBar :value=progress />
            </Column>
        </Row>
    </Column>
</template>

<script>

import { mapGetters, mapMutations, mapActions }  from 'vuex';
import FileUploadForm from '../components/ui/forms/file_upload';
import ProgressBar from '../components/ui/progress/progress';
import swal from 'sweetalert2';
export default {
    components: {
        FileUploadForm, ProgressBar
    },
    data(){
        return {
            uploading: false,
            progress : 0
        };
    },
    computed: {
        ...mapGetters('tempFiles', ['files', 'anyFileAdded','docTypes'])
    },
    methods: {
        ...mapMutations('tempFiles', ['CREATE_FILE']),
        ...mapActions('tempFiles', ['uploadFiles']),
        upload(){
            this.uploading = true;
            this.progress  = 0;
            let percentage = 100 / this.files.length;
            const interval = setInterval(()=> {
                this.progress +=percentage;
                if(this.progress >= 100){
                    this.uploadFiles();
                    setTimeout(()=>{ 
                        clearInterval(interval);
                        
                        this.uploading = false;
                        this.$router.push({name: 'preview'});
                        swal({
                            type             : 'success',
                            title            : 'Документы были загружены',
                            showConfirmButton: false,
                            timer            : 1500
                        });
                    },500);

                }
            }, 1000);  
        }
    }
};
</script>

