<template>
    <BaseButton class="btn-danger" v-bind="$attrs" v-on="$listeners">
        <slot></slot>
    </BaseButton>
</template>

<script>
import BaseButton from './base_button';
export default {
    components: {
        BaseButton
    }
};
</script>

