<template>
    <div id="app">
        <div class="container-fluid">
            <div class="row">
                <Column md-2>
                    <LeftMenu />
                </Column>
                <Column md-10>
                    <router-view />
                </Column>
            </div>
        </div>
    </div>
</template>

<script>
import LeftMenu from './components/left_menu/left_menu';
export default {
    components: {LeftMenu},

};
</script>

<style lang="scss" src='./styles/index.scss'>

</style>
